body{
    font-family: 'Indie Flower', cursive;
}

.head{
    position: relative;
    height: 4em;
    width: 100%;
}

.me{
    position: absolute;
    right: 30%;
    left: 30%;
    margin-top: 10px;
    border-style: dashed;
    color: rgb(54.8%, 58.5%, 95.6%);
    text-align: center;
}

.parrafo{
    position: relative;
    width: 100%;
}

.content{
    margin: 1.2em;
    font-size: 1.3em;
}



.text{
    text-align: right;
    margin-top: 5px;
    margin-right: 1.2em;
}